package ${cfg.query};

#if(${activeRecord})
import java.io.Serializable;

import io.swagger.annotations.ApiModelProperty;
import lombok.*;
import lombok.experimental.Accessors;
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
@Builder
@ToString
@NoArgsConstructor
@AllArgsConstructor
#end
public class ${entity}Query{
    @ApiModelProperty(value = "分页页码")
    private Integer page;
    @ApiModelProperty(value = "分页页码总条数")
    private Integer limit;
    @ApiModelProperty(value = "删除标记")
    @Builder.Default
    private Integer delFlag = 0;
    @ApiModelProperty(value = "排序字段")
    private String orderBy;
    @ApiModelProperty(value = "asc,desc")
    private String order;
}
