<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.business.mapper.ContentMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.business.bean.po.Content">
        <id column="content_id" property="contentId"/>
        <result column="content_info" property="contentInfo"/>
    </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        content_id, content_info
      </sql>
</mapper>
