<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.business.mapper.NewsRecommendMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.business.bean.po.NewsRecommend">
        <id column="news_recommend_id" property="newsRecommendId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="data_order" property="dataOrder"/>
        <result column="c_user_id" property="cUserId"/>
        <result column="c_user_name" property="cUserName"/>
        <result column="ctime" property="ctime"/>
        <result column="m_user_id" property="mUserId"/>
        <result column="m_user_name" property="mUserName"/>
        <result column="mtime" property="mtime"/>
        <result column="news_info_id" property="newsInfoId"/>
        <result column="link_manage_id" property="linkManageId"/>
        <result column="recommend" property="recommend"/>
        <result column="headlines" property="headlines"/>
        <result column="scroll_bar" property="scrollBar"/>
        <result column="slide_show" property="slideShow"/>
    </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        news_recommend_id, del_flag, data_order, c_user_id, c_user_name, ctime, m_user_id, m_user_name, mtime, news_info_id, link_manage_id, recommend, headlines, scroll_bar, slide_show
      </sql>
</mapper>
