<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.system.mapper.AccessLogMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.system.bean.po.AccessLog">
        <id column="access_log_id" property="accessLogId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="c_user_id" property="cUserId"/>
        <result column="c_user_name" property="cUserName"/>
        <result column="access_kind" property="accessKind"/>
        <result column="remote_ip" property="remoteIp"/>
        <result column="module_id" property="moduleId"/>
        <result column="module_name" property="moduleName"/>
        <result column="url" property="url"/>
        <result column="data_comment" property="dataComment"/>
  </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        access_log_id, del_flag, c_user_id, c_user_name, access_kind, remote_ip, module_id, module_name, url, data_comment
    </sql>
</mapper>
