<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.system.mapper.DictMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.system.bean.po.Dict">
        <id column="dict_id" property="dictId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="data_order" property="dataOrder"/>
        <result column="c_user_id" property="cUserId"/>
        <result column="c_user_name" property="cUserName"/>
        <result column="ctime" property="ctime"/>
        <result column="m_user_id" property="mUserId"/>
        <result column="m_user_name" property="mUserName"/>
        <result column="mtime" property="mtime"/>
        <result column="dict_parent" property="dictParent"/>
        <result column="dict_path" property="dictPath"/>
        <result column="dict_level" property="dictLevel"/>
        <result column="is_leaf" property="isLeaf"/>
        <result column="dict_kind" property="dictKind"/>
        <result column="dict_display" property="dictDisplay"/>
        <result column="dict_value" property="dictValue"/>
        <result column="dict_comment" property="dictComment"/>
    </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        dict_id, del_flag, data_order, c_user_id, c_user_name, ctime, m_user_id, m_user_name, mtime, dict_parent, dict_path, dict_level, is_leaf, dict_kind, dict_display, dict_value, dict_comment
      </sql>
</mapper>
