<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.system.mapper.MessageMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.system.bean.po.Message">
        <id column="message_id" property="messageId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="c_user_id" property="cUserId"/>
        <result column="c_user_name" property="cUserName"/>
        <result column="c_unit_id" property="cUnitId"/>
        <result column="c_post_id" property="cPostId"/>
        <result column="ctime" property="ctime"/>
        <result column="m_user_id" property="mUserId"/>
        <result column="m_user_name" property="mUserName"/>
        <result column="mtime" property="mtime"/>
        <result column="business_type" property="businessType"/>
        <result column="business_id" property="businessId"/>
        <result column="message_kind" property="messageKind"/>
        <result column="message_title" property="messageTitle"/>
        <result column="message_content" property="messageContent"/>
    </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        message_id, del_flag, c_user_id, c_user_name, c_unit_id, c_post_id, ctime, m_user_id, m_user_name, mtime, business_type, business_id, message_kind, message_title, message_content
      </sql>
</mapper>
