<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.system.mapper.PermissionMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.system.bean.po.Permission">
        <id column="permission_id" property="permissionId"/>
        <result column="permission_kind" property="permissionKind"/>
        <result column="role_id" property="roleId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="resource_key" property="resourceKey"/>
        <result column="resource_name" property="resourceName"/>
        <result column="resource_auth" property="resourceAuth"/>
        <result column="formula" property="formula"/>
        <result column="resource_value" property="resourceValue"/>
        <result column="data_comment" property="dataComment"/>
  </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        permission_id, permission_kind, role_id, resource_id, resource_key, resource_name, resource_auth, formula, resource_value, data_comment
    </sql>
</mapper>
