<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.hr.system.mapper.UserMapper">

      <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.hr.system.bean.po.User">
        <id column="user_id" property="userId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="data_order" property="dataOrder"/>
        <result column="c_user_id" property="cUserId"/>
        <result column="c_user_name" property="cUserName"/>
        <result column="ctime" property="ctime"/>
        <result column="m_user_id" property="mUserId"/>
        <result column="m_user_name" property="mUserName"/>
        <result column="mtime" property="mtime"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_code" property="userCode"/>
        <result column="personal_name" property="personalName"/>
        <result column="org_code" property="orgCode"/>
        <result column="post_code" property="postCode"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_kind" property="userKind"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="cert_no" property="certNo"/>
        <result column="user_mail" property="userMail"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_comment" property="userComment"/>
        <result column="login_failure" property="loginFailure"/>
        <result column="login_count" property="loginCount"/>
        <result column="user_status" property="userStatus"/>
        <result column="user_photo" property="userPhoto"/>
  </resultMap>

      <!-- 通用查询结果列 -->
      <sql id="Base_Column_List">
        user_id, del_flag, data_order, c_user_id, c_user_name, ctime, m_user_id, m_user_name, mtime, username, password, user_code, personal_name, org_code, post_code, user_sex, user_kind, last_login_time, cert_no, user_mail, user_telephone, user_mobile, user_comment, login_failure, login_count, user_status, user_photo
    </sql>
</mapper>
